<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<script type="text/javascript">
var baseUrl = 'http://localhost:3000';

//global variables
var persons;
var interests;
var skills;
var richest;
var personIds = [];

/* https://stackoverflow.com/questions/14446511/most-efficient-method-to-groupby-on-a-array-of-objects */
var groupBy = function(xs, key) {
  return xs.reduce(function(rv, x) {
    (rv[x[key]] = rv[x[key]] || []).push(x);
    return rv;
  }, {});
};

function getRichest() {
	return 	$.ajax({
        url: baseUrl+'/richest',
        dataType: 'json',
        type: 'get',
        success: function(data){
			/*console.log(data);*/
			richest = data.richestPerson;
		},
        error: function(d){
            /*console.log('error');*/
            alert('404. Get richest failed.');
        }
    });
};

function getInterests() {
	return $.ajax({
		url: baseUrl+'/interests?personIds='+personIds.toString(),
		dataType: 'json',
		type: 'get',
		success: function(data){	
				/*console.log(data);*/
				interests = groupBy(data,'personId');
            },
		error: function(d){
			/*console.log('error');*/
			alert("404. Get interests failed.");
		}
	});
};

function getSkills() {		
	return $.ajax({
		url: baseUrl+'/skills?personIds='+personIds.toString(),
		dataType: 'json',
		type: 'get',
		success: function(data){	
				/*console.log(data);*/
				skills = groupBy(data,"personId");
            },
		error: function(d){
			/*console.log('error');*/
			alert('404. Get skills failed.');
		}
	});
};

function getPeople() {
	return $.ajax({
        url: baseUrl+'/people',
        dataType: 'json',
        type: 'get',
        success: function(data){
            /*console.log(data);*/
			persons = data;
			
			personIds = [];
            $.each(persons, function(index, value){
				personIds.push(value.id);
            });
        },
        error: function(d){
            /*console.log('error');*/
            alert('404. Get people failed.');
        }
    });
};


$(document).ready(function(){
	Promise.all([getPeople(), getRichest()]).then(() => {
		Promise.all([getInterests(), getSkills()]).then(() => {
			var event_data = '';
			$.each(persons, function(index, value){
				if (value.id == richest){
					event_data += '<tr style="font-weight:bold">';
				} else {
					event_data += '<tr>';
				}
				
                event_data += '<td>'+value.name+'</td>';
                event_data += '<td>'+value.org+'</td>';
				
				event_data += '<td>';
				$.each(skills[value.id], function(i,v){
					event_data += v.name
					if(i<skills[value.id].length-1){
						event_data += ', '
					}
				});
				event_data += '</td>';
				
				event_data += '<td>';
				$.each(interests[value.id], function(i,v){
					event_data += v.name
					if(i<interests[value.id].length-1){
						event_data += ', '
					}
				});
				event_data += '</td>';
				
                event_data += '</tr>';
            });
			$("#list_table_json").append(event_data);
		}).catch(() => {
			// all requests finished but one or more failed
		})
	}).catch(() => {
		// all requests finished but one or more failed
	})
});
</script>

<table class="table table-responsive table-hover table-bordered" id="list_table_json">
    <thead>
        <tr>
            <th>Name</th>
            <th>Company</th>    
			<th>Skills</th>
            <th>Interests</th>			
        </tr>                   
    </thead>
</table>